.DS_Store
.AppleDouble
.LSOverride
iisnode.yml
npm-debug.log
style.min.css

db/shortly.sqlite
node_modules
public/dist
public/min

# Icon must ends with two \r.
Icon




# Floobits
.floo
.floobit
.floo
.flooignore
